@mixin button($color: green) {
  height: 30px;
  min-width: 30px;
  padding: 3px;
  text-align: center;
  position: relative;
  //display: inline-block;
  margin-right: 10px;
  color: rgba(150,100,100,.7);
  user-select: none;

  & i {
    font-size: 30px;
    height: 100%;
  }

  &:active, &.active {
    color: $color;
  }

  &:hover {
    //background: #eee;
    cursor: pointer;
  }
}

@mixin clear-list() {
  list-style: none;
  margin: 0;
  padding: 0;
}